Source: musicshaker
Section: user/other
Priority: optional
Maintainer: Thiago de Barros Lacerda <thiagotbl@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <https://gitorious.org/musicshaker>

Package: musicshaker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Controls your music player with a simple phone shake
XSBC-Maemo-Display-Name: MusicShaker
XB-Maemo-Icon-26:
    iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABNmlDQ1BQaG90b3Nob3AgSUNDIHBy
    b2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcX
    d7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIk
    jvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0o
    KdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8H
    wGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVah
    vAX34y/Axk/96FpPYgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wDEAIsNdKXIFgAABnE
    SURBVHja3Zt5nJ1llee/53mXu9SaSqUqRSo7QkggC7uCrCIKuA3Y0ziC3e5226OjPU47ozaODfOZ
    0ZlPOz0O7t2o3S0Q1m6gBVmEEBQShSRkX0lVZa0tVXW3932eM388771VkbCoSffMvPdz6t5b73rO
    c5bf+T3PldHoEdqSK5jgJ6RhWJRAmmgJAkJRWkNDKJiCMdIUCIFAhCACAKpQUaXqVGtOXdmp1Jzq
    hFMqDlJVVMEpVFVR/i/YtAJuvJUrdSR4GAEohf9AovlLEPkIsASRAAMYFBERg2AEBDCAiFdemRSr
    qg5QVRxy1H4UlNcwgNQPPtHbXoQfOU1WTtOrEgEYjh9Zhsrfg5yWKY4Y8coGAkH2fEbAZA6gXlev
    POAcuPpnRZ367zpFsVfTz6q/1z/PNqToBy3RfeFw8VGjTi9S4RSMUxGDBIjLFJdAkFDQQCDwyrvs
    OUVBLWAd2AC1DlIahtA0cwHX8IKjjSBAomAEbTfIsEViOVF+MPWyHQJvC6n9U2gNQkArEIgRNEA1
    EAjxiscGokz5IDNEwwOy0U4EUockBpeqN0LqPUnrnqFZzmBKWFQhvLCNwpcWEr5pGkf+ejfVT28j
    MgFqjrsB6q4o2d27QcLQFYFUFEACIBAhEiQyaFx/N0gsEAqahYZkbqsOqHkjaM2hiULNoTV86KTi
    j3FTxkAVnVDyfzCL5m8vxgRe2/Y/WsjhWkLtz3YTBAGNZHt8jVB/BgcQUjRo1QoOCAwaiVc2JxAb
    yBkk59818jmAIMtxVhHrcDWFGmgVqDh/ncBl7g1YmcwJKFp2RFdOp+kvT0UNOOcaz9X2oQUcenoY
    85MxCF/BAM5fA+tQzewk/vklNq983lEB4UMt1EhQJ/5bIBCLVzZvkEIAeQP5zBtigwbGj6wCqaLW
    IFWHVqWRMNU4EEFFUOohoz5fKEhPTPE/zIOmAMm8whjjH6ElJvfhWVRWbSawUyuDNELZzMzR9JHZ
    ROe0ITMitKLYHRNUHx+k9tQwblsJCQTC4Bjnc1QYhsFZLZKsGUVVkRDICZIXyAtSFEzBQCFA8gaN
    DCYyjWupVUgcmhO0LGgIGqhP/KI4ERADxoEFZwQUChe3E5/b3iinaS1h7KURGLXkeptpuriLsXN3
    I7+oZrnAHFVJrLOwopnw/HZfPYyQW9JK8Z09pJWE0kMHmPirPbgNJSQAlWMYUkEQQtpCsTkRcaCh
    IDmBgsEUAigE0BSgRYPkA+8ZoTSexxuAbPQBo43sqOoPUtQ/QL06GCF+RzcUQkSV0YMj7L5pLfHD
    JYJxiBY2M/PWM4k/2EO6egdBHE7NXf6ahxNGPreRQ+9vIy0nhMWI4kkt5E5ro+WU6bS8p5f8lTMY
    /m9bqX17AGMC/8xHDb+IA8JgQUF4FnGWLPa9F7i8H30tig+FgkFyAUT4UUV9za85CLxvq/qk6KzH
    AepAMxygImBB2kPyV3UhQDmpsOWTT9H9RETY0ow2K/qSZeL2fjpuOpndc7fRfFhwdcOS4ZDYoAM1
    zC0HiBFwyhH6kFk5Ri5tp+PDC2g6pYPpNy1hqDdH6S92YaSeVPWocDDEBheBiwSNwcU+3skJmscn
    wrygeYPLC5I3SCF7z/lQIWca7y4H5EBj0JxBI3AR/t05wuUthLkQAV788ipm/CKHTM9hI8WF4AqC
    JkqUi4gu7aCWpmgkaChorCSDFar7yyQjFdKhKi6x0BIQNxeIRgRdOcThDzzP0D/uQVWZ9oH5RJ/q
    JcWiofownSKhdISiMULqjSD1h40EqVeE7F3q/88SFsahAuoETQ0uchCDSwQSwdkMEOFd345Ychd3
    ArBrzTZaHrKY1gg3NT6tI5ibRzCEpzRTjYcwYehDqWyZ/q2lNF06AzGQHKpxZOVeJu7chyQuG+EA
    GXGM/PstSHtE6wUzaL1xNgdXD+I21LJQmMRERo3gIsGGknkCmcWBUHChzw0agGu8A4F6XBD4/2kI
    RPjvIdjMwi7059lIsDiik/OkKLXHhwldQBo5bEQmiraG5M6ehiDQYtCcYGPFxorLC0dWHyAJHZW0
    hvTGdH1hCbOfvojC+3pwbf4eNi8YYxj54haq+8vE0wvEv99NGk+9F9hICF1i0TDDaIEXFyhislAX
    UFFcBgHqcaT1vwJqFGd89tcA1Ewqr1kOU/EuLsWQpFTBbi9hQkHqYEc8dI6Wt5I/sw2Ho3qw7A0a
    GY8iI6g+NUL/n6xBA8E0hcSLWuh4z2y6vrCEkfOncegrmwiOgDYZ9GDK8Ld20n3T6TRf3M34/H6i
    Pp2ST5VQraoLvFOYMDOAAWMUZxxGDIoDNThVRF3WDGgDCjvNEmBmKGe8aOBDBvVJUIuG5HCVoDdC
    JrJwmtJaq3XMuGUxkguwzlLrKxHHgfe4OpINBd1R89FClfK6CQZWDdH9lSW0XtZNtVxl5C+2EQQh
    tAVUV41Q2TdOvqcISwvY/nEkCiZDoDZSVRugLgBrwAo4yZRRxTnFKjjrcKnDJhZrLTZ1uNTinEOd
    4hxYVRw+LzhRbwRRXCC4UNFmQ3nrGIERNDRorLhYcaFDY2XW984i7iygqcPVLKWXxqDJ+GNixcXg
    YjzuiL0QCm5XmQM3byQZr9F2aTfmzGZc4Pw51lJZNwpAsLiIxqiLFRc5cQGYrAGaBDGBH0WbKe+c
    xaUWm1pcYtFU0URxicOlik2dF5cZQxWLQ42/lk+oPvvSHFJeN4xpiqAARIIaMO0RM764mPzydtJq
    ggkMg9sOEgwoWjC+9EZyTNFIYFpE8uIEB/96J1FzgfxbOrCBQmRwIthDNRQl7MmTRir18zRWwmS8
    hgs8oK6XSkPdrR3OQZD6NlhRxOkkEHIeC7jE+VFzDqcOFZ8PnMla3QwdqkBtpIarWoLuPLXNFaLO
    PF2fWUTTOdPQxCJGqLmEfXftoJgvYEN9OYw9VpfTFVP62SC1D5bIL2pnuK0Pah6g1QeG2Cd1H5ZZ
    RJW2jfv21ygagAkUK4oRxTiHWoFUEeMQTIaY6lA4a0xSh7MWtZnR6kYIMiOJoC57mMSS9JeJFzQR
    jMGszy0h7Io9UlR/zMHnBzDrE7QQvv4mTxUVR3VvGdMRIR0BDPpkLa0hCCSjVcgF3tvVl+/QOqsa
    oKreA2w9AeI8nHUex0si2Wfx1aHeCzhFU/95Mhn6BIjLrG3rZIjgUCpbj9D7b05BbjRomrXQgIhQ
    m6hy+J6XiFzkz/0N6A6JDNTzVwPLGKJ5RdQp1YESEgku6xbVKaELHCqi/kTB1I0g4FtE583lDIbM
    j+vdq/OKq3MZ8eOyJki9R0V4LsAATnBVR3FJO/mFrSCCS1yDWxQjaKTs+NtN6JYa5ONXYYb05UyH
    CtJkCGfnKfeNYquWII6QghDOylErV6nuLpPPGc9pZM8fOgEJfcckIrisgXNGEfG0l3XeGA0OsF66
    XOYBzvODdVyAUW+jjERVCw6l89rZdF7dS9gSeS4B6kkHCQ3rb3sOfXiCuJBDTRb7WTd9dBqQozlU
    AZ2wtL6tm7A5YnzPKIGGSMGgCiOPHCA4uwj7UqQQe1Tp/ECGGmW8pdR1yxqXDAjJFCJP1I9ko4nP
    DDJJ96rP/pliCpA4TEtAz3sXMu2CLh8WaZaUMreXSNhy9wuY1VWkKcJan1dszaFV20iypIqzvuxq
    6nxFqg9KopTuqhJc0kz/HTvI7TaYOMAEUFlZpvqkI38kopZzakIRMuwTutA0FBVAjaAoJvP2umf4
    MaxbSbOd9eDLjBZoY78awaVKrrfArPcvpPiGNjSZZH7ElxWS8Rprvr6K9IEjUFLS8QRbTrE1iyY+
    P2jq6o11A4MK8rLqoC9A//Z+0ucniGyATH2JIDmDxEaCKMDkA5XQEBJlWVrMZGRlYV6nmlQ8edCg
    E+vuUJ8fQLwX1clfI2jqaDqtld4b30DUHqM1m/GiihjBOksxX+TOG34Ad46RI86Uk0y5YzE5k0q/
    Un7QtWVCQpQ6u6yTjHQlhUr9MUVBMS5QT3LUwUU8+dmFxqO4rAFyQV0cLlAvYbY/UFxokKYQDYX2
    C7uZ/aFTMS0hSSUhtZaklhDlIw71H+K5//40lXKV3jPm4HCkKClgUdLG9/rnutjXFAu/duzU87Uh
    FodFCYmCesr3NpNJa0vD4SZzRJ1GqLdE9UQWFWNc4hh8dj/dV8+h6x2zsVik5t3eOUdLSwtP3vME
    O/5sHenWEvMvXMAp/2oJG7/0HK3E/yITZWGd81cR3LEJ5GM6nAqIiocGpZSBn/Vx8Ok+et4+l7kf
    OjWrEJmRxAOcH37q+5T+50EKFHAE7LhtC+f9r0tpWjqNZF0FwfwLGCBUTycbOWZ0aTbiDUAaGnBK
    dbDM+EtjjG4eYmTTIDVXZeaZvbzp9reC8fAYIMyF7NsywKov/JSx+wcpUiTB4hAGHtxDzdbofFMP
    O9dtJCZq+J5gEOSfzwMmJyGOfVMTCGExZGzHKAee28fotmEqh8seBAFhPs9537uUIBeQVlIAck05
    tj6zhac+8ghuc5WYHAmpZ9RJGDtwgPGtI8y5agGlzWMEYYirWmpDVcZ2HaFSKhEQEhKeMFOEGgaT
    012vgLmCfEgyWmXbHZsZ3HQQV7JHGSuhxqLrF9F6chu2YjHGIIGwd0sfP7n+Pgp9EYaQFE+epljm
    XLGA5X9+Lm0nT6NlYTuzzpvji0o2saqpMvTiYV74r2voe2I3ISHmBIRI6IxDwkDEHMPlBFxq6V/d
    x657tlKrVjEEL29Fooi571rY6AUMhkqpyu3vuo3mvjzeH7zRctNzvPnmy1j0sTNIJxJc6jzZmzMN
    cqQOknouns3st81j2x2bWf3ZJyj3lY+7J4R+EjTLAXWcEwhqlaEtQ+x+ZAeHNx8k8MT/FAJz0kfa
    T22l7dRpvvMDrFru/uM7iLdH2Zg7HJbpizu57DtX0vOmXioj5UaYJEnquQajmNAQhiFpOSWtJNha
    ysnXnUphVhMPv/8BSrsnjmtuCAkMhBlmxxsjLVu23LmJfWv6qZVrBATZ+LljhIiS72oiavVlTIyw
    +bHNHPrHA0SEpDgcjuaeFi751hXMOLub0tAEuUKOoBCw9sE1dHd1U02qvPjD9TR1NtFxeienXrOI
    YlOR0miJ6pEqPefO4pLvvoWVb7mdPPnjtpgiJBQITDavJ1RHKvz8a88wNjCW2VlIj6H4USFQDPxc
    HGBTy/aHtmInHPXCqjgWXPcGOpd3kZQScsUc/XsH+Pv3/ohgm7Dio2cx/30L2Pm3O7ETKYTweOuj
    XHbr5Zx+zVLSSkoyUWPeJQs549PL+OVfrqFIE8djzY3RrBkx+YDhncM89udPcHhgaAoie3XklWAZ
    OzRBUklQVWqVGv3PDGSZPkNnAjMvOMknN1U2Pb2R71/0XeQFsCXHwC8GmLm4B9ehpNaRVi3poZS7
    r7ubx/7zow1F03LCadcvAQwJ6etChq8lZtrCNsKmkN2r9vDU11YxNjaOELwMOr6SWBzD+0cY3z8O
    QHWiyvjQxNHHGCXXlgOgMlHhgc8+CPsNSXaPwb3D1PprzL9hIROUsUCCI0eB1bc8w9pvryUoBKS1
    lM4FnURz8tSwr+v5XkvMi/dt4smvrtK1P/gl5UoVRUhehqFfXYb2jHBw40FfAcIAAjMFh1sSmzK0
    awgxwsTgBDte2EmQ5YcUy5H9Y+x+ZjcXffxiBhme4n2eTXnhtnU+JEUIopAkSo+B8387Mau/+Qy7
    1+515XIN12gSfhPx56y/60VEIMqFtM9tI8E29idYNqx8kVqphjEBAVHWuPj95bTKrqdfothcYM6K
    OZQoH3WP0QNjjO49gjGG4YPDVAZrjfv+rmJ8qvIX+22tCIYND2xkw/0bKbYXOeXqRUddzwFbHtvO
    87e/QNusVla8YwUTVBr7LY69L/SRlBOWXreUMrVGJ2jxbG5YDAnigH2b9zM2MoZmyfl3lfC1Mvyv
    lzzDsVdxGUJu/8N7aF8wjXM+cCabH9zC7p+9lPXmvprc8W/vpWprXPnlK8gVcuz4p92Uj1QAw65n
    91IeKXPSsh6ifExaSRH8XN/0xZ10zJ9GogkP/49HEWI/23scyqA5lltUqJKQNr4nWHIdBd74R+dS
    ofbKoeAcP7j+xwys38/vfe9a5l85nzFKWTgoMTnu/XcPcd/nH6TnvJlcevOb6Tx/OgkpRxhn5+o9
    dJ/WRXFmkRRHmRq5aTneetNlxO0Rd37pHvqe2E9I1PCc31WCMznfOPQCh17uUGxsOfO6FYyMjFIb
    S3AoKSlL33k67/vf7+XwoUG2r92NIcChR4kClSNV1j+4ke4lnbz9i1eQb8qx6fFt1EgBISBkcMcQ
    23+2h52r93DkwBha9d3f8I4Rrv6Pb2Xdwy/St30/LW3NfPDu93PSWTP54Wd+zK9u3UDoogxa6e8q
    mxx6b7CC84yiFyh6ucPRPL2ZT973EXJtMRt+ugV1Pj+8+5ar6D39JFbeejfj26sNQuTlL0jLlmfv
    +RXD+4e5/DMXcfGfXEgyVmVo7yhlraLO84VJ2WKrmrGNwtDgCBd/8nzGRybImTwfvv8GKlriGzd8
    l0137SB00Svc87d6bVL03qNygMWy4LL5tM1s5cKPnsedX74fOwxNM5vo7J3OwIEBBh4ZRDCviQ5j
    8qz6mzWsu28zF37iHM77+Fm8+dNv5NCWQfZtOMjh/iHKY1VsNcWEhqbWAq3TWxkfLPHGG89h5rIu
    /u7LK/nVjzZgXEieAr9JvnrdUNhOuWiKZf6KuQD88icvUKv4DiDujGnpbmH7xu1Y53uC19OOxOQo
    DVd44JbHefybz9CzqItZZ/UwY0EHJ83s8lRcY82xMj4xwdoHX+Cc9yznR3+6ksPrR4nJIwhp1lOe
    AAPoFAM4uk+ZAUD/pgMkNYvBkNRSkmpCGAd+2qlBS7+e5blCSER1KGX36gF2/3zA0/Diew/j1zih
    Gd/ftbCLC68/j9lLehlcP551nyduFXmYZn1eveQU2j1krY0nWHWAMNQ/xqGXBpm9rJegNaI2XP7t
    W1I3palMXr57ZP8IAxsOcPrbTuXZe9aTq0bHaMGP39Yog2lWqiaO+D49KARY8fvGJyZYv3ozndM6
    edOHlzPGxG9cbhxKQkqtUWD1mMccKZXYvHonyy9fQtwekhyncveKSDBbyJWJ0r9lPwDdJ89AI8kY
    PMNTP3qO/j0DvPuzV3H2VUsZy5qW1yMJjkFGcQLFGc1USRhmLGumJo9LUdLU8eJz28jlcyw8ex4l
    qo2fIZwICS12inc6Nv9qJ5aUZZefhokMSUZw7ty0l4dufZzrPn8VN371WpJSyoYndjSKoZ8HNcdE
    jy3TmvjY167nrKtP9xHtHI98ZxX33vJT0mr6suN3r9/LUP8I85b38twDG0iPQcMdry04mWUNHKAI
    E2NlzrlmKTNnd3Po8CHWPbOVEF9/1z29lUJLjqWXLeKCf30WnXOmkW+Oae1qoaO3jcP7hnBuCh7A
    MmfxLD7/0MdZcskbqExU/dQYwtnXnMHcs3v5+X3PU6t5kFQ35cjIGCsuX0Jxep41d21orEg7zq9N
    it4bLGS5UbhA4XKA8fEJpp/Uxslnz+XkZfNY+8h6Dh8cJSBAMDz/2CZ2rdtLx+w2znvXMs5951Iu
    +L0zuewD59O/8wA71u9toMQgCPjEt9/H/GW9lEYrBEGAMX6xdWm0zNwls3A5y7M/XU9E1Mj3E1Q4
    6+2n09HTypM/XoPL5tqn/kTpOMgmhXuPCgHw63wf/M6TnHP1UrrmTOeT37iRm9/7TQ4fGCZHDAjP
    PvQi61Zvo/fsLuYvmMW0nhaSWsrAvv1ZvDoslo6eTnpP66ZWSTzDPOV3AQhUx6vMPWMmFWoNnk+z
    KZHmliKVUpXUA48TNy/gjrHeZs/2fdx20z185jt/yLzTe/nCXR/nG5/6Ozau3UEev4y1Opqw/dE+
    tj22t7EcxjiDyZhjB1QrCbVqQtMUqru+RVFEVAy54+sPkiPfKHUWS8+p3cxbMosn7ltNxVXIkT9h
    hTCYwxlHNUMuG4OtG/cwdnicM69YTMfMdi669mymdbaya12fZ2NE/RK3wEDi5wk1W0VQV2a8VGLu
    opNYsHy2XxEi0lixtXdXP1/50F+x8dG9RESNshg0Bbz/T69hwVmz+Pqnf0BpyELGWRxn2eTQe8NX
    AhkxMfd+7zEO7h/mxv/0Duaf1st7PnUF7/rjy9j0850M7DhErZKQK0Tc/+3H2farl7K5g6N/oXTb
    zffTPrOZFZcupqmliTu++Q88+sNfsOGX24mICYkoU6WltYk5p87knR+9lMUXzeOWj93Kvm0j5Mhl
    lMqJ2eQCrg+AzwG3HIVfs61GwoyT2nnztSu45Npz6V04k+nd7ZjQNJR87pF13HLjdxk9UHrZcoYE
    R1NzzPnvXsqVN1zAtBktDL50hIP9wxzsHyQMA2bOm0H7jGaK7Tk2Pb+d+7/xOH2bB4mzxHiCtruB
    G+WN/P5UA+iv/7ysXpudccT5iLnLZtIzfzqdnW0EOcORoRL7+g+x4+cDVEaSV2SSnDiCvDBncQ+z
    TplBT890Cq150iTlQP9h9vUNsuf5fYyNVgiT8ETMDP/6isvbgQ/K+VyP4q4Fvg+0HuPAKS4tGZXp
    GodIdrgvk6+1nFGysyfX/Exdx2MIMMAJ/JHxVN0+D/LVoI8NLO44b1+a2rnW2QWK5l8NPtQRn2nM
    4JvGuoLX86obwkx5TV35c4JfomhF0ScV/S/PcseQXFy8gZ+VfsjVJ32i/cDA4csUFjP5w7j/3zYF
    +kAfXsvK/ga+uLT1D3j8yN9wPteTkLzKaoH/9w2g4NayUs/nGhKa+D+bnZnekFOWZAAAAABJRU5E
    rkJggg==
